*.swp
README~
.gitignore~
*.out
*.tlog
*.obj
*.pdb
*.idb
*.sdf
*.ilk
*.log
*.lastbuildstate
*.suo
*.VC.*
*.csv
*.ipch
*.ipdb
*.iobj
*.exe
*.i

#*.sln
#*.vcxproj
#*.filters
*.cache
*.user
*.psess

*.vsp
# bin/*.exe
# bin/*.ipdb
# bin/*.iobj
# resources
#build
*.FileListAbsolute.txt
# let user to compile static lib
# *.lib